---
import Layout from "../../layouts/Layout.astro";

import Capa from "../../components/Capa.astro";
import Section from "../../components/Section.astro";
import CardTurmas from "../../components/CardTurmas.astro";
import CardEbooks from "../../components/CardEbooks.astro";
---

<Layout title="Catalise | Turmas" description="Catálogo da Catálogo">
  <main class="container">
    <Capa
      title="Outra frase bacana"
      destaque=" Aqui!"
      texto="Acreditamos que a educação é a chave para desbloquear o potencial de toda pessoa e, com tecnologia, ética e excelência, estamos dedicados a prepará-los para os desafios que os aguardam."
    />
    <Section
      estilo="centro"
      tag="Depoimentos"
      titulo="Conheça nossos alunos"
      colunas="col3"
    >
      <CardTurmas
        estilo="pequeno"
        tag="Turma"
        turma="ITA/IME"
        capa="/imagens/itaime fundo.png"
      />
      <CardTurmas
        estilo="pequeno"
        tag="Turma"
        turma="PRÉ ITA/IME"
        capa="/imagens/itaime fundo.png"
      />
      <CardTurmas
        estilo="pequeno"
        tag="Turma"
        turma="ITA/IME"
        capa="/imagens/itaime fundo.png"
      />
      <CardTurmas
        estilo="pequeno"
        tag="Turma"
        turma="ITA/IME"
        capa="/imagens/itaime fundo.png"
      />
      <CardTurmas
        estilo="pequeno"
        tag="Turma"
        turma="ITA/IME"
        capa="/imagens/itaime fundo.png"
      />
      <CardTurmas
        estilo="pequeno"
        tag="Turma"
        turma="ITA/IME"
        capa="/imagens/itaime fundo.png"
      />
    </Section>
    <Section
      estilo=""
      tag="Materiais"
      titulo="Os melhores materiais para sua preparação"
      subtitulo=""
      link="Conheça nossos materiais"
      colunas="col4"
    >
      <CardEbooks
        capa="/imagens/ebook biblia para o ita.png"
        tag="Ebook"
        material="A Biblia para o ITA"
      />
      <CardEbooks
        capa="/imagens/ebook miscelanea ita.png"
        tag="Miscelânea"
        material="Miscelâneas ITA"
      />
      <CardEbooks
        capa="/imagens/ebook miscelanea ime.png"
        tag="Miscelânea"
        material="Miscelâneas IME"
      />
      <CardEbooks
        capa="/imagens/ebook miscelanea afa.png"
        tag="Miscelânea"
        material="Miscelâneas AFA"
      />
      <CardEbooks
        capa="/imagens/ebook bizuario quimica geral 1.png"
        tag="Bizuário"
        material="Quimica Geral 1"
      />
      <CardEbooks
        capa="/imagens/ebook bizuario quimica geral 2.png"
        tag="Bizuário"
        material="Quimica Geral 2"
      />
      <CardEbooks
        capa="/imagens/ebook bizuario fisico quimica.png"
        tag="Bizuário"
        material="Físico Quimica"
      />
      <CardEbooks
        capa="/imagens/ebook bizuario reacoes organicas.png"
        tag="Bizuário"
        material="Reações Orgânicas"
      />
      <CardEbooks
        capa="/imagens/ebook miscelanea matematica ita.png"
        tag="Miscelânea"
        material="Matemática ITA"
      />
      <CardEbooks
        capa="/imagens/ebook miscelanea fisica ita.png"
        tag="Miscelânea"
        material="Física ITA"
      />
      <CardEbooks
        capa="/imagens/ebook miscelanea quimica ita.png"
        tag="Miscelânea"
        material="Química ITA"
      />
      <CardEbooks
        capa="/imagens/ebook miscelanea matematica ime.png"
        tag="Miscelânea"
        material="Matemática IME"
      />
      <CardEbooks
        capa="/imagens/ebook miscelanea fisica ime.png"
        tag="Miscelânea"
        material="Física IME"
      />
      <CardEbooks
        capa="/imagens/ebook miscelanea quimica ime.png"
        tag="Miscelânea"
        material="Química IME"
      />
      <CardEbooks
        capa="/imagens/ebook miscelanea matematica afa.png"
        tag="Miscelânea"
        material="Matemática AFA"
      />
      <CardEbooks
        capa="/imagens/ebook miscelanea fisica afa.png"
        tag="Miscelânea"
        material="Física AFA"
      />
      <CardEbooks
        capa="/imagens/ebook miscelanea matematica eear.png"
        tag="Miscelânea"
        material="Matemática EEAR"
      />
      <CardEbooks
        capa="/imagens/ebook miscelanea fisica eear.png"
        tag="Miscelânea"
        material="Física EEAR"
      />
    </Section>
  </main>
</Layout>
