---
import { getEntry } from "astro:content";
const turmas = await getEntry("produtos", "turmas");
const materiais = await getEntry("produtos", "materiais");

import { Image } from "astro:assets";

import Layout from "../../layouts/Layout.astro";

import Capa from "../../components/Capa.astro";
import Section from "../../components/Section.astro";
import CardTurmas from "../../components/CardTurmas.astro";
import CardEbooks from "../../components/CardEbooks.astro";

import capa from "../../img/capa catalise.png";
---

<Layout title="Catalise | Turmas" description="Catálogo da Catálogo">
  <main class="container">
    <Capa title="Confira nossos" destaque=" Produtos!">
      <p class="txt-capa" slot="conteudo">
        Explore nossos produtos e siga em direção ao sonho da aprovação.
      </p>
      <Image src={capa} alt="Capa do Catálise" class="img-capa" slot="imagem" />
    </Capa>
    <Section
      estilo="centro"
      tag="Depoimentos"
      titulo="Conheça nossos alunos"
      colunas="col4"
    >
      <CardTurmas estilo="grande" turmas={turmas} page="principal" />
    </Section>
    <Section
      estilo=""
      tag="Materiais"
      titulo="Os melhores materiais para sua preparação"
      subtitulo=""
      colunas="col3"
    >
      <CardEbooks materiais={materiais} page="principal" />
    </Section>
  </main>
</Layout>
