---
import { getEntry } from "astro:content";
import { Image } from "astro:assets";
import Layout from "../../layouts/Layout.astro";

import Capa from "../../components/Capa.astro";
import Destaques from "../../components/Destaques.astro";
import Section from "../../components/Section.astro";
import Accordeon from "../../components/Accordeon.astro";

import capa from "../../img/miscelaneas-ita.png";
import beneficios from "../../img/beneficios.png";

import CardEbooks from "../../components/CardEbooks.astro";
import MateriaisValor from "../../components/MateriaisValor.astro";

const materiais = await getEntry("produtos", "materiais");
const perguntas = await getEntry("alunos", "perguntas");
---

<Layout title="Turma ITA/IME" description="Catálise - turma ITA/IME">
  <main class="container">
    <Capa title="Miscelâneas" destaque=" ITA" botao="Compre agora">
      <p class="txt-capa" slot="conteudo">
        Este produto contêm todas as questões de matemática, física e química do
        vestibular do ITA desde 1995 até 2022 já divididas por assunto segundo o
        programa de matérias do vestibular."
      </p>
      <Image src={capa} alt="Capa do Catálise" class="img-capa" slot="imagem" />
    </Capa>
    <Destaques
      img
      titulo1="Vasto banco de questões"
      texto1="Matemática Básica, Física Básica e Produtividade nos estudos, que irá te preparar de forma exclusiva para o ITA."
      titulo2="Organização por assunto"
      texto2="Aulas divididas por frentes, disponibilizadas em Módulos e no formato 'Microlearning', que te levarão até o nível do ITA."
      titulo3="Gabaritos disponíveis"
      texto3="Após cada aula e ao final do assunto, que te ajudarão a fixar o conteúdo e a se preparar para as provas."
      titulo4="Resoluções disponíveis"
      texto4="Te dará suporte de Segunda a Sexta para tirar todas as suas dúvidas e garantir que você esteja sempre preparado."
    />
    <Capa estilo="claro" title="Textinho bacana sobre a Turma ITA" texto="">
      <ul class="capa-itens" slot="conteudo">
        <li>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 144 144"
          >
            <path
              fill="#77DCF8"
              fill-opacity=".6"
              d="M128.35 55.45c12.87 7.23 12.87 25.87 0 33.1L34 141.57c-12.55 7.05-28-2.08-28-16.55V18.98C6 4.51 21.45-4.62 34 2.43l94.35 53.02Z"
            ></path>
            <path
              fill="#4D97FE"
              stroke="#4D97FE"
              d="M37.5 29.5a10 10 0 0 0-9.96 9.95v60.34c-.05.37-.05.74 0 1.1v3.66a10 10 0 0 0 9.95 9.95h54.6a3.65 3.65 0 1 0 0-7.3h-54.6a2.6 2.6 0 0 1-2.65-2.65V104H92.1a3.65 3.65 0 0 0 3.65-3.65v-60.9a10 10 0 0 0-9.95-9.95H37.5Zm41.2 23.24-.46.2.46-.2a3.65 3.65 0 0 0-3.41-2.24h-27.3a3.65 3.65 0 1 0 0 7.3h27.3a3.65 3.65 0 0 0 3.41-2.24l-.46-.2.46.2a3.65 3.65 0 0 0 0-2.82ZM37.5 36.8h48.3a2.6 2.6 0 0 1 2.64 2.65V96.7h-53.6V39.45a2.6 2.6 0 0 1 2.65-2.65Z"
            ></path>
          </svg>
           Mentorias em grupo e Momento Catálise
        </li>
        <li>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 144 144"
          >
            <path
              fill="#77DCF8"
              fill-opacity=".6"
              d="M128.35 55.45c12.87 7.23 12.87 25.87 0 33.1L34 141.57c-12.55 7.05-28-2.08-28-16.55V18.98C6 4.51 21.45-4.62 34 2.43l94.35 53.02Z"
            ></path>
            <path
              fill="#4D97FE"
              stroke="#4D97FE"
              d="M37.5 29.5a10 10 0 0 0-9.96 9.95v60.34c-.05.37-.05.74 0 1.1v3.66a10 10 0 0 0 9.95 9.95h54.6a3.65 3.65 0 1 0 0-7.3h-54.6a2.6 2.6 0 0 1-2.65-2.65V104H92.1a3.65 3.65 0 0 0 3.65-3.65v-60.9a10 10 0 0 0-9.95-9.95H37.5Zm41.2 23.24-.46.2.46-.2a3.65 3.65 0 0 0-3.41-2.24h-27.3a3.65 3.65 0 1 0 0 7.3h27.3a3.65 3.65 0 0 0 3.41-2.24l-.46-.2.46.2a3.65 3.65 0 0 0 0-2.82ZM37.5 36.8h48.3a2.6 2.6 0 0 1 2.64 2.65V96.7h-53.6V39.45a2.6 2.6 0 0 1 2.65-2.65Z"
            ></path>
          </svg>
           Aulões de Reforço
        </li>
        <li>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 144 144"
          >
            <path
              fill="#77DCF8"
              fill-opacity=".6"
              d="M128.35 55.45c12.87 7.23 12.87 25.87 0 33.1L34 141.57c-12.55 7.05-28-2.08-28-16.55V18.98C6 4.51 21.45-4.62 34 2.43l94.35 53.02Z"
            ></path>
            <path
              fill="#4D97FE"
              stroke="#4D97FE"
              d="M37.5 29.5a10 10 0 0 0-9.96 9.95v60.34c-.05.37-.05.74 0 1.1v3.66a10 10 0 0 0 9.95 9.95h54.6a3.65 3.65 0 1 0 0-7.3h-54.6a2.6 2.6 0 0 1-2.65-2.65V104H92.1a3.65 3.65 0 0 0 3.65-3.65v-60.9a10 10 0 0 0-9.95-9.95H37.5Zm41.2 23.24-.46.2.46-.2a3.65 3.65 0 0 0-3.41-2.24h-27.3a3.65 3.65 0 1 0 0 7.3h27.3a3.65 3.65 0 0 0 3.41-2.24l-.46-.2.46.2a3.65 3.65 0 0 0 0-2.82ZM37.5 36.8h48.3a2.6 2.6 0 0 1 2.64 2.65V96.7h-53.6V39.45a2.6 2.6 0 0 1 2.65-2.65Z"
            ></path>
          </svg>
           Comunidade VIP no Telegram
        </li>
        <li>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 144 144"
          >
            <path
              fill="#77DCF8"
              fill-opacity=".6"
              d="M128.35 55.45c12.87 7.23 12.87 25.87 0 33.1L34 141.57c-12.55 7.05-28-2.08-28-16.55V18.98C6 4.51 21.45-4.62 34 2.43l94.35 53.02Z"
            ></path>
            <path
              fill="#4D97FE"
              stroke="#4D97FE"
              d="M37.5 29.5a10 10 0 0 0-9.96 9.95v60.34c-.05.37-.05.74 0 1.1v3.66a10 10 0 0 0 9.95 9.95h54.6a3.65 3.65 0 1 0 0-7.3h-54.6a2.6 2.6 0 0 1-2.65-2.65V104H92.1a3.65 3.65 0 0 0 3.65-3.65v-60.9a10 10 0 0 0-9.95-9.95H37.5Zm41.2 23.24-.46.2.46-.2a3.65 3.65 0 0 0-3.41-2.24h-27.3a3.65 3.65 0 1 0 0 7.3h27.3a3.65 3.65 0 0 0 3.41-2.24l-.46-.2.46.2a3.65 3.65 0 0 0 0-2.82ZM37.5 36.8h48.3a2.6 2.6 0 0 1 2.64 2.65V96.7h-53.6V39.45a2.6 2.6 0 0 1 2.65-2.65Z"
            ></path>
          </svg>
           Simulados 100% focados no ITA
        </li>
      </ul>
      <Image
        src={beneficios}
        alt="Capa do Catálise"
        class="img-capa-material"
        slot="imagem"
        width="770"
        quality="max"
      />
    </Capa>
    <MateriaisValor />

    <Section estilo="claro" tag="" titulo="Perguntas frequentes">
      <Accordeon perguntas={perguntas} page="" />
    </Section>
    <Section tag="" titulo="Outros materiais" colunas="col4">
      <CardEbooks materiais={materiais} page="principal" swiper />
    </Section>
  </main>
</Layout>

<script>
  import { Swiper } from "swiper";
  import { Pagination, Mousewheel } from "swiper/modules";
  import "swiper/css";
  import "swiper/css/pagination";

  new Swiper(".swiper-professores", {
    slidesPerView: 1.4,
    spaceBetween: 20,
    direction: "vertical",
    centeredSlides: true,
    mousewheel: true,
    modules: [Pagination, Mousewheel],
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
  });
</script>

<style scoped>
  .swiper {
    min-height: 27rem;
  }
  .swiper-container {
    margin-top: 2rem;
    padding: 0 3rem;
  }
  .swiper-container .swiper-slide {
    width: 18rem;
    height: 28rem;
    height: auto;
    place-self: center;
    border-radius: 1rem;
    box-shadow: 0.5rem 0.5rem 1.2rem -0.6rem rgba(0, 0, 0, 0.15);
  }
  .swiper-button-prev,
  .swiper-button-next {
    width: 5rem;
    height: 5rem;
    background: var(--clr-ice);
    border-radius: 5rem;
    box-shadow: 0 0.1rem 2rem hsl(0, 0%, 60%);
    margin: -2.8rem 1rem;
  }
  .swiper-button-prev:after,
  .swiper-button-next:after {
  }
  .swiper-professores {
    height: -webkit-fill-available;
    position: absolute;
  }
  .tema {
    width: -webkit-fill-available;
    text-align: left;
    background: var(--clr-dblue);
    padding: 2rem;
    border-radius: 1rem;
    backdrop-filter: blur(0.4rem);
  }
  .tema h2 {
    color: var(--clr-green);
    margin-bottom: 1rem;
  }
  .rotina {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    max-width: 16rem;
    padding-top: 1.6rem;
  }
  .rotina:before {
    content: "";
    position: absolute;
    width: -webkit-fill-available;
    height: 0.08rem;
    background: var(--clr-green);
    top: 53%;
    z-index: -1;
  }
  .rotina div:first-child {
    background: var(--clr-blue);
    border-radius: 100rem;
    font-family: var(--font-black);
    font-size: 3rem;
    width: 6rem;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    border: 0.2rem solid var(--clr-green);
    filter: drop-shadow(-0.4rem -0.4rem 0.4rem hsl(215, 100%, 30%))
      drop-shadow(0.4rem 0.4rem 0.4rem hsl(195, 100%, 24%));
  }
  .rotina h2 {
    color: var(--clr-green);
    margin: 0.6rem;
  }
  .img-capa-material {
    position: relative;
    bottom: 0rem;
  }
  .capa-itens {
    list-style: none;
    padding: 0.4rem 0;
  }
  .capa-itens li {
    font-family: var(--font-light);
    font-weight: 600;
    margin: 1.2rem 0 0 0;
    display: flex;
    align-items: center;
    font-size: 1.1rem;
  }
  .capa-itens svg {
    width: 2rem;
    margin-right: 0.8rem;
  }
</style>
