---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import Capa from "../components/Capa.astro";

const texto =
  "Acreditamos que a educação é a chave para desbloquear o potencial de toda pessoa e, com tecnologia, ética e excelência, estamos dedicados a prepará-los para os desafios que os aguardam.";
---

<Layout title="Welcome to Astro.">
  <main class="container">
    <div class="testeGsap">
      <div class="box green"></div>
      <div class="box purple"></div>
      <div class="box orange"></div>
    </div>
    <Capa title="Uma frase bacana" destaque=" Aqui!" texto={texto} />
  </main>
</Layout>

<script>
  import { gsap } from "gsap";
  gsap.fromTo(
    ".box",
    {
      backgroundColor: "cyan",
      scale: 0,
    },
    {
      backgroundColor: "blue",
      duration: 1,
      repeat: -1,
      yoyo: true,
      scale: 1,
    }
  );
</script>

<style>
  .testeGsap {
    display: none;
  }
  main {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    width: 100%;
    color: white;
    font-size: 20px;
    line-height: 1.6;
    gap: 1rem;
  }
  .box {
    display: block;
    width: 10rem;
    height: 10rem;
    background-color: red;
    border-radius: 100%;
  }
</style>
