---
import { getEntry } from "astro:content";
import Teste from "../components/Teste.astro";

import Layout from "../layouts/Layout.astro";
import Accordeon from "../components/Accordeon.astro";

import CardEbooks from "../components/CardEbooks.astro";

const perguntas = await getEntry("alunos", "perguntas");
const material = await getEntry("produtos", "materiais");
/*

*/
---

<Layout title="Catálise" description="Catálise cursos">
  <main class="container">
    <Teste />
    <Accordeon page="" perguntas={perguntas} />    <CardEbooks page="" materiais={material} />
  </main>
</Layout>
<style scoped></style>
