---

---

<div class="accordion">
  <details>
    <summary>System Requirements</summary>
    <p>
      Requires a computer running an operating system. The computer must have
      some memory and ideally some kind of long-term storage. An input device as
      well as some form of output device is recommended.
    </p>
  </details>
  <details>
    <summary>System Requirements</summary>
    <p>
      Requires a computer running an operating system. The computer must have
      some memory and ideally some kind of long-term storage. An input device as
      well as some form of output device is recommended.
    </p>
  </details>
  <details>
    <summary>System Requirements</summary>
    <p>
      Requires a computer running an operating system. The computer must have
      some memory and ideally some kind of long-term storage. An input device as
      well as some form of output device is recommended.
    </p>
  </details>
</div>
<style scoped>
  .accordion {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    width: 100%;
    cursor: pointer;
    transition: all 0.4s ease;
  }
  .accordion :hover {
    background: var(--clr-blue);
  }
  details {
    background: var(--clr-dblue);
    padding: 1rem;
    border: 0.12rem solid var(--clr-blue);
    border-radius: 1rem;
  }
  summary {
    font-family: var(--font-book);
    font-size: 1.2rem;
  }
  p {
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 0.11rem solid var(--clr-lblue);
  }
</style>
