---
import { Image } from "astro:assets";
import capa from "../img/capa catalise.png";
import Botao from "./Botao.astro";

const { title, destaque, texto } = Astro.props;
---

<section>
  <div>
    <h1>
      {title}
      <span class="destaque">{destaque}</span>
    </h1>
    <p>{texto}</p>
    <Botao estilo="grande" texto="Textinho bacana" />
  </div>
  <Image src={capa} alt="Capa do Catálise" class="capa" />
</section>

<style scoped>
  section {
    display: flex;
    place-items: center;
    place-content: space-between;
    margin-top: 3rem;
    width: 100%;
  }
  .capa {
    display: none;
    filter: drop-shadow(-2rem -2rem 4rem hsl(215, 100%, 25%))
      drop-shadow(2rem 2rem 4rem hsl(195, 63%, 24%));
  }
  h1 {
    font-family: GothamSSm-Black;
    text-transform: uppercase;
    margin-bottom: 1.2rem;
  }
  p {
    font-size: 1.2rem;
    margin-bottom: 3rem;
  }
  .destaque {
    font-size: 3.6rem;
    font-weight: 900;
    color: transparent;
    -webkit-text-stroke: 0.15rem hsl(52, 93%, 52%);
  }

  @media screen and (min-width: 768px) {
    div {
      width: clamp(24rem, 40vw, 30rem);
    }
    .capa {
      display: unset;
      width: 50%;
      height: auto;
    }
    .links a {
      display: inline-block;
      padding: 15px 20px;
    }
  }
</style>
