---
import { Image } from "astro:assets";
import logo from "../img/logo catalise.png";
---

<footer>
  <div>
    <div>
      <Image src={logo} alt="Logo do Catálise" class="logo" width="140" />
      <ul>
        <li>
          <a href="mailto:contato@catalisevestibulares.com.br">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 500 500"
            >
              <path
                fill="#fff"
                d="M55 70c-24.8 0-45 20.2-45 45v4.26L250 290l240-170.74V115c0-24.8-20.2-45-45-45H55Zm8.52 20h372.92L250 220 63.52 90ZM10 140.27V385c0 24.8 20.2 45 45 45h390c24.8 0 45-20.2 45-45V140.27l-60 42.7V410H70V182.97l-60-42.7Z"
              ></path>
            </svg>
             contato@catalisevestibulares.com.br</a
          >
        </li>
        <li>
          <a href="tel:+5512997364916">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 480 480"
            >
              <path
                fill="#fff"
                d="M352 16H128a32 32 0 0 0-32 32v384a32 32 0 0 0 32 32h224a32 32 0 0 0 32-32V48a32 32 0 0 0-32-32Zm-72 16a8 8 0 1 1 0 16 8 8 0 0 1 0-16Zm-64 0h32a8 8 0 0 1 0 16h-32a8 8 0 0 1 0-16Zm136 400H128V48h48l6.62 6.62c6 6 14.15 9.38 22.63 9.38h69.49a32 32 0 0 0 22.62-9.38L304 48h48v384Z"
              ></path>
            </svg>
             (12) 997364916</a
          >
        </li>
      </ul>
    </div>
    <div>
      <a href="/" class="link">Home</a>
      <a href="/produtos" class="link">Nossos produtos</a>
      <a href="/sobre" class="link">Quem somos</a>
      <a href="/contato" class="link">Contato</a>
    </div>
    <div>
      <ul>
        <li>
          <a href="https://www.instagram.com/cataliseita/">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 500 500"
            >
              <path
                fill="#fff"
                d="M120 30c-49.6 0-90 40.4-90 90v260c0 49.6 40.4 90 90 90h260c49.6 0 90-40.4 90-90V120c0-49.6-40.4-90-90-90H120Zm260 50h30c5.5 0 10 4.5 10 10v30c0 5.5-4.5 10-10 10h-30c-5.5 0-10-4.5-10-10V90c0-5.5 4.5-10 10-10Zm-130 20c53.3 0 100.2 28 126.8 70H420v200c0 27.6-22.4 50-50 50H130c-27.6 0-50-22.4-50-50V170h43.2c26.6-42 73.5-70 126.8-70Zm0 20c-71.7 0-130 58.3-130 130s58.3 130 130 130 130-58.3 130-130-58.3-130-130-130Zm0 40c49.6 0 90 40.4 90 90s-40.4 90-90 90-90-40.4-90-90 40.4-90 90-90Z"
              ></path>
            </svg>
             @cataliseita</a
          >
        </li>
        <li>
          <a href="https://www.instagram.com/cataliseeear/">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 500 500"
            >
              <path
                fill="#fff"
                d="M120 30c-49.6 0-90 40.4-90 90v260c0 49.6 40.4 90 90 90h260c49.6 0 90-40.4 90-90V120c0-49.6-40.4-90-90-90H120Zm260 50h30c5.5 0 10 4.5 10 10v30c0 5.5-4.5 10-10 10h-30c-5.5 0-10-4.5-10-10V90c0-5.5 4.5-10 10-10Zm-130 20c53.3 0 100.2 28 126.8 70H420v200c0 27.6-22.4 50-50 50H130c-27.6 0-50-22.4-50-50V170h43.2c26.6-42 73.5-70 126.8-70Zm0 20c-71.7 0-130 58.3-130 130s58.3 130 130 130 130-58.3 130-130-58.3-130-130-130Zm0 40c49.6 0 90 40.4 90 90s-40.4 90-90 90-90-40.4-90-90 40.4-90 90-90Z"
              ></path>
            </svg>
             @cataliseeear</a
          >
        </li>
        <li>
          <a href="https://www.youtube.com/catalisevestibulares">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 500 500"
            >
              <path
                fill="#fff"
                d="M448.98 145c-3.98-22-22.96-38-45-43-32.96-7-93.98-12-160-12-65.97 0-127.96 5-160.97 12-22 5-41.02 20-45 43C33.98 170 30 205 30 250s3.98 80 8.98 105c4.03 22 23.01 38 45 43 35 7 95 12 161.02 12 66.02 0 126.02-5 161.02-12 21.99-5 40.97-20 45-43 3.98-25 8.98-61.02 10-105-2.04-45-7.04-80-12.04-105ZM190 320V180l122 70-122 70Z"
              ></path>
            </svg>
             Youtube</a
          >
        </li>
        <li>
          <a
            href="https://www.linkedin.com/company/cat%C3%A1lise/posts/?feedView=all&viewAsMember=true"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 500 500"
            >
              <path
                fill="#fff"
                d="M410 40H90c-27.6 0-50 22.4-50 50v320c0 27.6 22.4 50 50 50h320c27.6 0 50-22.4 50-50V90c0-27.6-22.4-50-50-50ZM170 200v190h-60V200h60Zm-60-55.3c0-14 12-28.7 30-28.7s29.3 14.7 30 28.7c0 14-11.2 29.3-30 29.3-18 0-30-15.3-30-29.3ZM390 390h-60V290c0-20-10-40-35-40.4h-.8c-24.2 0-34.2 20.6-34.2 40.4v100h-60V200h60v25.6s19.3-25.6 58.1-25.6c39.7 0 71.9 27.3 71.9 82.6V390Z"
              ></path>
            </svg>
             Linkedin</a
          >
        </li>
      </ul>
    </div>
  </div>
</footer>

<style scoped>
  footer {
    background: var(--clr-dgray);
    width: 100%;
    color: var(--clr-ice);
    border-top: 0.12rem solid var(--clr-gray);
    padding: 6rem 0;
    margin-top: 8rem;
    backdrop-filter: blur(0.8rem);
    font-size: .8rem;
  }
  footer > div:first-child {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    justify-content: space-between;
    gap: 2rem;
    margin: auto;
  }
  footer div {
    display: flex;
    flex-direction: column;
  }
  .logo {
    margin-bottom: 1.8rem;
  }
  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 1rem;
  }
  li a {
    display: flex;
    gap: 0.6rem;
  }
  ul a svg {
    width: 1rem;
  }
  footer div:nth-child(2) {
    gap: 1.7rem;
  }
  a:hover {
    color: var(--clr-green);
  }
</style>
