---
const { texto, estilo } = Astro.props;
//claro, outline-claro, outline-escuro, grande, pequeno
---

<a class={estilo}
  >{texto}
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 278 278">
    <path
      d="M248.08.27a26.25 26.25 0 0 1 29.67 29.57v154.1a26.24 26.24 0 1 1-52.48 0V89.85L45.17 269.93a26.23 26.23 0 1 1-37.1-37.1l180.1-180.08h-94.1a26.24 26.24 0 1 1 0-52.48h154Z"
      clip-rule="evenodd"></path>
  </svg>
</a>
<style scoped>
  a {
    font-family: var(--font-book);
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    border-radius: 0.8rem;
    color: #333;
    cursor: pointer;
    filter: drop-shadow(0rem 0rem 1rem hsla(215, 100%, 25%, 0.6))
      drop-shadow(0rem 0rem 1rem hsl(195, 63%, 24%, 0.6));
    width: max-content;
    height: max-content;
    transition: all 0.5s ease;
  }
  a:hover {
    filter: drop-shadow(-0.6rem -0.4rem 0.9rem hsl(215, 100%, 25%))
      drop-shadow(0.6rem 0.4rem 0.9rem hsl(195, 63%, 24%));
  }

  .claro {
    color: var(--clr-white);
    filter: none;
  }
  .claro:hover {
    filter: none;
    color: var(--clr-green);
  }
  .claro:hover svg {
    fill: var(--clr-green);
    transform: translateX(0.2rem) translateY(-0.2rem);
  }
  .grande {
    font-size: clamp(0.9rem, 1.2vw, .8rem);
  }
  .pequeno {
    font-size: clamp(0.9rem, 1.2vw, .6rem);
  }
  svg {
    width: .9rem;
    margin: 0 0rem -0.1rem 0.6rem;
    fill: var(--clr-white);
    transition: all 0.5s ease;
  }
</style>
