---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="pt-BR" style="">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      href="https://db.onlinewebfonts.com/a/BA7Xr1nmW0CDa3AB6UzsL0BFbbto8R7N"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />

    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>
<style is:global>
  /*
https://www.onlinewebfonts.com/search?q=GothamSSm
*/
  :root {
    --font-light: GothamSSm-Light;
    --font-book: GothamSSm-Book;
    --font-bold: GothamSSm-Bold;
    --font-black: GothamSSm-Black;

    --clr-black: hsla(197, 9%, 16%, 1);
    --clr-white: hsl(210, 33%, 99%);
    --clr-ice: hsl(213, 52%, 96%);
    --clr-lgray: hsla(215, 100%, 94%, 1);
    --clr-gray: hsla(215, 20%, 40%, 0.5);
    --clr-dgray: hsla(215, 100%, 10%, 0.5);
    --clr-green: hsl(173, 90%, 61%);
    --clr-dgreen: hsl(173, 65%, 41%);
    --clr-yellow: hsl(52, 93%, 52%);
    --clr-blue: hsl(214, 51%, 47%);
    --clr-dblue: hsla(214, 51%, 47%, 0.3);
    --clr-lblue: hsl(215, 100%, 65%);

    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );

    --fs-300: clamp(0.94rem, calc(0.92rem + 0.08vw), 0.98rem);
    --fs-400: clamp(1.13rem, calc(1.06rem + 0.33vw), 1.31rem);
    --fs-500: clamp(1.35rem, calc(1.21rem + 0.69vw), 1.75rem);
    --fs-600: clamp(1.62rem, calc(1.37rem + 1.24vw), 2.33rem);
    --fs-700: clamp(1.94rem, calc(1.54rem + 2.03vw), 3.11rem);
    --fs-800: clamp(2.33rem, calc(1.7rem + 3.15vw), 4.14rem);
    --fs-900: clamp(2.8rem, calc(1.85rem + 4.74vw), 5.52rem);

    --swiper-scrollbar-size: 0.4rem;
    --swiper-scrollbar-drag-bg-color: var(--clr-blue);
    --swiper-pagination-color: var(--clr-green);
    --swiper-pagination-bullet-active-color: var(--clr-green);
  }
  .swiper-pagination-bullet-active {
    width: 2rem;
    border-radius: 1rem;
  }
  .swiper-pagination-bullet {
    width: 2rem !important;
    border-radius: 1rem !important;
    transition: all 0.4s ease;
  }

  html {
    font-family: var(--font-book), sans-serif;
    background-color: hsl(220, 90%, 14%);
    background-blend-mode: overlay;
    background-position: center -24vw;
    background-size: clamp(60rem, 153vw, 500rem);
    background-repeat: no-repeat;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    text-size-adjust: none;
    scroll-behavior: smooth;
  }
  body {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
  }
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    color: var(--clr-white);
    gap: 6rem;
  }
  h1 {
    font-family: var(--font-bold);
    font-size: clamp(2.2rem, 4vw, 3.4rem);
    line-height: 1.2;
    margin: 0;
  }
  h2 {
    font-size: clamp(0.9rem, 1.2vw, 1.2rem);
    margin: 0;
  }
  p {
    font-family: var(--font-light);
    font-size: clamp(0.9rem, 1.2vw, 1rem);
    line-height: 1.8;
    margin: 0;
  }
  a {
    color: var(--clr-white);
    text-decoration: none;
  }
  ul {
    padding: 0 1.2rem;
    margin: 0;
  }
  ul li {
    line-height: 1.6rem;
  }
  button {
    cursor: pointer;
  }
  #matricula {
    flex-direction: column;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  .mt-1 {
    margin-top: 1rem;
  }
  .mt-2 {
    margin-top: 2rem;
  }
  .mt-3 {
    margin-top: 3rem;
  }
  .mt-4 {
    margin-top: 4rem;
  }
  .capa-itens {
    list-style: none;
    padding: 0.4rem 0;
  }
  .capa-itens li {
    font-family: var(--font-light);
    font-weight: 600;
    margin: 1.2rem 0 0 0;
    display: flex;
    align-items: center;
    font-size: clamp(1rem, 1.2vw, 1.1rem);
  }
  .capa-itens svg {
    width: 1.2rem;
    margin-right: 0.8rem;
  }
  .txt-capa {
    font-family: var(--font-light);
    font-size: clamp(1rem, 1.7vw, 1.2rem);
    width: 100%;
  }
  .txt-capa-claro {
    font-family: var(--font-light);
    font-weight: 600;
    font-size: clamp(0.9rem, 1.2vw, 1.1rem);
  }
  .img-capa {
    width: clamp(20rem, 60vw, 40rem);
    height: auto;
    margin-bottom: 3rem;
  }
  .img-capa-material {
    position: relative;
    bottom: 0rem;
    width: 26rem;
    height: auto;
    margin-bottom: -5rem;
    margin-right: -10rem;
  }
  .img-capa-valor {
    display: none;
  }
  .valor {
    font-family: var(--font-black);
    color: var(--clr-yellow);
    margin-top: 2.4rem;
  }
  .depoimentos {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    align-items: center;
  }
  .breadcrumbs {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    opacity: 0.8;
    padding-top: 0.7rem;
    font-size: smaller;
  }
  .breadcrumbs__item {
    color: var(--clr-ice);
  }
  .breadcrumbs__item:hover,
  .breadcrumbs__item a:hover {
    color: var(--clr-green);
  }
  .breadcrumbs__item:last-child {
    color: var(--clr-green);
  }
  .modal {
    background: linear-gradient(
      80deg,
      hsl(226, 100%, 97%),
      hsl(200, 100%, 80%)
    );
    width: clamp(20rem, 94vw, 40rem);
    overflow: hidden;
  }
  :where(.modal) {
    border: none !important;
  }
  .modal__inner {
  }

  .modal__content {
    gap: 1.5rem;
    padding: 1rem;
    overflow: auto;
    max-height: 72vh;
    position: relative;
  }
  .modal__content h3 {
    font-family: var(--font-bold);
    font-size: clamp(1.3rem, 2vw, 1.8rem);
    color: var(--font-black);
    margin: 0.12rem 0;
  }
  .modal__content h2 {
    font-family: var(--font-book);
    margin-top: 1rem;
    color: var(--font-black);
  }
  .modal__close button {
    color: var(--clr-black) !important;
    background-color: hsl(213, 52%, 96%, 0.4) !important;
    width: unset !important;
    padding: 0.6rem 0.8rem !important;
    position: absolute;
    font-weight: 600;
    top: 0;
    right: 0;
    font-size: clamp(0.9rem, 1.2vw, 1.2rem);
    line-height: 1 !important;
    border-radius: 100rem !important;
    margin: 1.8rem !important;
    border: 0.12rem solid var(--clr-dblue) !important;
    transition: all 0.2s ease-in-out !important;
  }

  .modal__close:hover button,
  .modal__close:focus button {
    text-decoration: none !important;
    color: var(--clr-lblue) !important;
    border: 0.12rem solid var(--clr-lblue) !important;
  }
  .card {
    border: none !important;
  }
  ::-webkit-scrollbar-track {
  }

  ::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.4rem;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--clr-lblue);
    border-radius: 0.18rem;
  }
  @media screen and (min-width: 768px) {
    main {
      gap: 8rem;
    }
    .img-capa-material {
      display: block;
      margin-bottom: 0;
      margin-right: 0;
      width: 60vw;
    }
    .txt-capa {
      width: 80%;
    }
    .image-capa {
      margin-bottom: 0rem;
    }
  }
  @media screen and (min-width: 1026px) {
    #matricula {
      flex-direction: row;
    }
    .img-capa-valor {
      display: unset;
    }
    .img-capa-material {
      display: block;
      width: auto;
      margin-bottom: 0;
      margin-right: 0;
    }
  }
</style>
