---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      href="https://db.onlinewebfonts.com/a/bbto8R7NafMzQ3eqW0CDa3ABBA7Xr1nm"
      rel="stylesheet"
      type="text/css"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>
<style is:global>
  /*
https://www.onlinewebfonts.com/search?q=GothamSSm
font-family: "GothamSSm-Black";
font-family: "GothamSSm-Medium";
font-family: "GothamSSm-Bold";
font-family: "GothamSSm-Book";
*/
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  html {
    font-family: GothamSSm-Book, sans-serif;
    background: hsl(226, 80%, 14%);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    text-size-adjust: none;
  }
  body {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
  }
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  h1 {
    font-family: GothamSSm-Black;
    font-size: 3.4rem;
    line-height: 1.2;
  }
  p {
    font-family: GothamSSm-Book;
    font-size: 1rem;
    line-height: 1.8;
  }
</style>
