---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html
  lang="pt-BR"
  style="background-image: url('/imagens/elementos do fundo.svg'); background-repeat: unset;"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      href="https://db.onlinewebfonts.com/a/BA7Xr1nmW0CDa3AB6UzsL0BFbbto8R7N"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />

    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
    <a
      href="https://api.whatsapp.com/send?phone=5512997364916&text=Ol%C3%A1!%20Gostaria%20de%20ajuda"
      class="contato"
    >
      <p>Precisa de ajuda?</p>
      <svg
        width="170"
        height="171"
        viewBox="0 0 170 171"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g clip-path="url(#clip0_1159_56)">
          <path
            d="M3.62783 84.4766C3.62385 98.8439 7.3851 112.873 14.5371 125.238L2.94385 167.485L46.262 156.149C58.2432 162.659 71.6673 166.07 85.3088 166.071H85.3447C130.378 166.071 167.036 129.496 167.056 84.5409C167.064 62.7569 158.572 42.2727 143.143 26.8615C127.717 11.4516 107.201 2.96063 85.3414 2.95068C40.3027 2.95068 3.64709 39.5235 3.6285 84.4766"
            fill="url(#paint0_linear_1159_56)"></path>
          <path
            d="M0.710547 84.4501C0.705898 99.3344 4.60195 113.865 12.0089 126.673L0 170.435L44.8714 158.692C57.2349 165.42 71.155 168.967 85.3194 168.973H85.3559C132.005 168.973 169.98 131.082 170 84.5177C170.008 61.951 161.21 40.7305 145.23 24.7672C129.248 8.80584 107.998 0.00927907 85.3559 0C38.6989 0 0.729141 37.8851 0.710547 84.4501ZM27.4324 124.467L25.757 121.812C18.7139 110.635 14.9965 97.7186 15.0018 84.4554C15.0171 45.7518 46.576 14.2633 85.3825 14.2633C104.175 14.2712 121.837 21.5831 135.121 34.8495C148.404 48.1173 155.713 65.7541 155.709 84.5124C155.691 123.216 124.132 154.709 85.3559 154.709H85.328C72.7022 154.702 60.3195 151.318 49.5205 144.923L46.9505 143.401L20.323 150.369L27.4324 124.466V124.467Z"
            fill="url(#paint1_linear_1159_56)"></path>
          <path
            d="M64.2002 49.1447C62.6158 45.6299 60.9483 45.559 59.4416 45.4974C58.2077 45.4443 56.7973 45.4483 55.3881 45.4483C53.9777 45.4483 51.686 45.9779 49.7489 48.0889C47.8099 50.2018 42.3459 55.308 42.3459 65.6933C42.3459 76.0792 49.9249 86.1158 50.9814 87.5256C52.0393 88.9327 65.6127 110.927 87.1097 119.388C104.976 126.419 108.611 125.021 112.489 124.668C116.367 124.317 125.002 119.564 126.764 114.634C128.527 109.706 128.527 105.481 127.999 104.598C127.47 103.719 126.06 103.191 123.945 102.135C121.829 101.08 111.431 95.9728 109.493 95.2683C107.554 94.5644 106.144 94.2131 104.733 96.3268C103.323 98.4371 99.2727 103.191 98.0382 104.598C96.805 106.009 95.5705 106.185 93.4562 105.129C91.3398 104.07 84.5285 101.844 76.4475 94.6532C70.1602 89.0579 65.9155 82.1484 64.6817 80.0347C63.4479 77.9244 64.5495 76.7804 65.61 75.7286C66.5603 74.7828 67.7258 73.2636 68.7843 72.0315C69.8388 70.7987 70.1908 69.9192 70.896 68.5114C71.6019 67.1023 71.2486 65.8696 70.7207 64.8137C70.1908 63.7579 66.0809 53.3183 64.2002 49.1447Z"
            fill="white"></path>
        </g>
        <defs>
          <linearGradient
            id="paint0_linear_1159_56"
            x1="8208.53"
            y1="16456.4"
            x2="8208.53"
            y2="2.95068"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="#1FAF38"></stop>
            <stop offset="1" stop-color="#60D669"></stop>
          </linearGradient>
          <linearGradient
            id="paint1_linear_1159_56"
            x1="8500"
            y1="17043.5"
            x2="8500"
            y2="0"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="#F9F9F9"></stop>
            <stop offset="1" stop-color="white"></stop>
          </linearGradient>
          <clipPath id="clip0_1159_56">
            <rect width="170" height="171" fill="white"></rect>
          </clipPath>
        </defs>
      </svg>
    </a>
  </body>
</html>
<style is:global>
  /*
https://www.onlinewebfonts.com/search?q=GothamSSm
*/
  :root {
    --font-light: GothamSSm-Light;
    --font-book: GothamSSm-Book;
    --font-bold: GothamSSm-Bold;
    --font-black: GothamSSm-Black;

    --clr-black: hsla(197, 9%, 16%, 1);
    --clr-white: hsl(210, 33%, 99%);
    --clr-ice: hsl(213, 52%, 96%);
    --clr-lgray: hsla(215, 100%, 94%, 1);
    --clr-gray: hsla(215, 20%, 40%, 0.5);
    --clr-dgray: hsla(215, 100%, 10%, 0.5);
    --clr-green: hsl(173, 90%, 61%);
    --clr-dgreen: hsl(173, 65%, 41%);
    --clr-yellow: hsl(52, 93%, 52%);
    --clr-blue: hsl(214, 51%, 47%);
    --clr-dblue: hsla(214, 51%, 47%, 0.3);
    --clr-lblue: hsl(215, 100%, 65%);

    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );

    --fs-300: clamp(0.94rem, calc(0.92rem + 0.08vw), 0.98rem);
    --fs-400: clamp(1.13rem, calc(1.06rem + 0.33vw), 1.31rem);
    --fs-500: clamp(1.35rem, calc(1.21rem + 0.69vw), 1.75rem);
    --fs-600: clamp(1.62rem, calc(1.37rem + 1.24vw), 2.33rem);
    --fs-700: clamp(1.94rem, calc(1.54rem + 2.03vw), 3.11rem);
    --fs-800: clamp(2.33rem, calc(1.7rem + 3.15vw), 4.14rem);
    --fs-900: clamp(2.8rem, calc(1.85rem + 4.74vw), 5.52rem);

    --swiper-scrollbar-size: 0.4rem;
    --swiper-scrollbar-drag-bg-color: var(--clr-blue);
    --swiper-pagination-color: var(--clr-green);
    --swiper-pagination-bullet-active-color: var(--clr-green);
  }
  .swiper-pagination-bullet-active {
    width: 2rem;
    border-radius: 1rem;
  }
  .swiper-pagination-bullet {
    width: 2rem !important;
    border-radius: 1rem !important;
    transition: all 0.4s ease;
  }

  html {
    font-family: var(--font-book), sans-serif;
    background-color: hsl(220, 80%, 14%);
    background-blend-mode: overlay;
    background-position: center -24vw;
    background-size: clamp(60rem, 153vw, 500rem);
    background-repeat: no-repeat;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    text-size-adjust: none;
    scroll-behavior: smooth;
  }
  body {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
  }
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    color: var(--clr-white);
    gap: 6rem;
  }
  h1 {
    font-family: var(--font-bold);
    font-size: clamp(2.2rem, 4vw, 3.4rem);
    line-height: 1.2;
    margin: 0;
  }
  h2 {
    font-size: clamp(0.9rem, 1.2vw, 1.2rem);
    margin: 0;
  }
  p {
    font-family: var(--font-light);
    font-size: clamp(0.9rem, 1.2vw, 1rem);
    line-height: 1.8;
    margin: 0;
  }
  a {
    color: var(--clr-white);
    text-decoration: none;
  }
  ul {
    padding: 0 1.2rem;
    margin: 0;
  }
  ul li {
    line-height: 1.6rem;
  }
  button {
    cursor: pointer;
  }
  #matricula {
    flex-direction: column;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  .mt-1 {
    margin-top: 1rem;
  }
  .mt-2 {
    margin-top: 2rem;
  }
  .mt-3 {
    margin-top: 3rem;
  }
  .mt-4 {
    margin-top: 4rem;
  }
  .contato {
    position: fixed;
    display: flex;
    align-items: center;
    right: 2rem;
    bottom: -1rem;
    width: auto;
    z-index: 20;
    transition: 0.4s ease;
  }
  .contato p {
    display: none;
    font-family: var(--font-light);
    font-weight: 600;
    background: hsl(124, 50%, 50%);
    padding: 0.5rem 4rem 0.5rem 1.4rem;
    border: 0.12rem solid hsl(0deg 0% 100% / 50%);
    border-radius: 100rem;
    z-index: -1;
    left: 3rem;
    position: relative;
  }
  .contato svg {
    max-width: 4.2rem;
  }
  .contato:hover p,
  .contato:hover svg {
    filter: brightness(1.05);
  }
  .capa-itens {
    list-style: none;
    padding: 0.4rem 0;
  }
  .capa-itens li {
    font-family: var(--font-light);
    font-weight: 600;
    margin: 1.2rem 0 0 0;
    display: flex;
    align-items: center;
    font-size: clamp(1rem, 1.2vw, 1.1rem);
  }
  .capa-itens svg {
    width: 1.2rem;
    margin-right: 0.8rem;
  }
  .txt-capa {
    font-family: var(--font-light);
    font-size: clamp(1rem, 1.7vw, 1.2rem);
    width: 100%;
  }
  .txt-capa-claro {
    font-family: var(--font-light);
    font-weight: 600;
    font-size: clamp(0.9rem, 1.2vw, 1.1rem);
  }
  .img-capa {
    width: clamp(20rem, 60vw, 40rem);
    height: auto;
  }
  .img-capa-material {
    position: relative;
    bottom: 0rem;
    width: 26rem;
    height: auto;
    margin-bottom: -5rem;
    margin-right: -10rem;
  }
  .img-capa-valor {
    display: none;
  }
  .valor {
    font-family: var(--font-black);
    color: var(--clr-yellow);
    margin-top: 2.4rem;
  }
  .depoimentos {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    align-items: center;
  }
  .breadcrumbs {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    opacity: 0.8;
    padding-top: 0.7rem;
    font-size: smaller;
  }
  .breadcrumbs__item {
    color: var(--clr-ice);
  }
  .breadcrumbs__item:hover,
  .breadcrumbs__item a:hover {
    color: var(--clr-green);
  }
  .breadcrumbs__item:last-child {
    color: var(--clr-green);
  }
  .modal {
    background: linear-gradient(
      80deg,
      hsl(226, 100%, 97%),
      hsl(200, 100%, 80%)
    );
    width: clamp(20rem, 94vw, 40rem);
    overflow: hidden;
  }
  :where(.modal) {
    border: none !important;
  }
  .modal__inner {
  }

  .modal__content {
    gap: 1.5rem;
    padding: 1rem;
    overflow: auto;
    max-height: 72vh;
    position: relative;
  }
  .modal__content h3 {
    font-family: var(--font-bold);
    font-size: clamp(1.3rem, 2vw, 1.8rem);
    color: var(--font-black);
    margin: 0.12rem 0;
  }
  .modal__content h2 {
    font-family: var(--font-book);
    margin-top: 1rem;
    color: var(--font-black);
  }
  .modal__close button {
    color: var(--clr-black) !important;
    background-color: hsl(213, 52%, 96%, 0.4) !important;
    width: unset !important;
    padding: 0.6rem 0.8rem !important;
    position: absolute;
    font-weight: 600;
    top: 0;
    right: 0;
    font-size: clamp(0.9rem, 1.2vw, 1.2rem);
    line-height: 1 !important;
    border-radius: 100rem !important;
    margin: 1.8rem !important;
    border: 0.12rem solid var(--clr-dblue) !important;
    transition: all 0.2s ease-in-out !important;
  }

  .modal__close:hover button,
  .modal__close:focus button {
    text-decoration: none !important;
    color: var(--clr-lblue) !important;
    border: 0.12rem solid var(--clr-lblue) !important;
  }
  .card {
    border: none !important;
  }
  ::-webkit-scrollbar-track {
  }

  ::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.4rem;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--clr-lblue);
    border-radius: 0.18rem;
  }
  @media screen and (min-width: 768px) {
    main {
      gap: 8rem;
    }
    .img-capa-material {
      display: block;
      margin-bottom: 0;
      margin-right: 0;
      width: 60vw;
    }
    .txt-capa {
      width: 80%;
    }
    .image-capa {
      margin-bottom: 0rem;
    }
    .contato p {
      display: block;
    }
  }
  @media screen and (min-width: 1026px) {
    #matricula {
      flex-direction: row;
    }
    .img-capa-valor {
      display: unset;
    }
    .img-capa-material {
      display: block;
      width: auto;
      margin-bottom: 0;
      margin-right: 0;
    }
  }
</style>
