---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html
  lang="pt-BR"
  style="background-image: url('/imagens/elementos do fundo.svg'); background-repeat: unset;"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      href="https://db.onlinewebfonts.com/a/BA7Xr1nmW0CDa3AB6UzsL0BFbbto8R7N"
      rel="stylesheet"
      type="text/css"
    />

    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>
<style is:global>
  /*
https://www.onlinewebfonts.com/search?q=GothamSSm
font-family: "GothamSSm-Book";
font-family: "GothamSSm-Bold";
font-family: "GothamSSm-Light";
font-family: "GothamSSm-Black";
*/
  :root {
    --font-light: GothamSSm-Light;
    --font-book: GothamSSm-Book;
    --font-bold: GothamSSm-Bold;
    --font-black: GothamSSm-Black;

    --clr-black: hsla(197, 9%, 16%, 1);
    --clr-white: hsl(210, 33%, 99%);
    --clr-ice: hsl(213, 52%, 96%);
    --clr-gray: hsla(215, 100%, 94%, 1);
    --clr-green: hsl(173, 90%, 61%);
    --clr-yellow: hsl(52, 93%, 52%);
    --clr-blue: hsl(214, 51%, 47%);
    --clr-dblue: hsla(214, 51%, 47%, 0.3);
    --clr-lblue: hsl(215, 100%, 65%);

    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );

    --fs-300: clamp(0.94rem, calc(0.92rem + 0.08vw), 0.98rem);
    --fs-400: clamp(1.13rem, calc(1.06rem + 0.33vw), 1.31rem);
    --fs-500: clamp(1.35rem, calc(1.21rem + 0.69vw), 1.75rem);
    --fs-600: clamp(1.62rem, calc(1.37rem + 1.24vw), 2.33rem);
    --fs-700: clamp(1.94rem, calc(1.54rem + 2.03vw), 3.11rem);
    --fs-800: clamp(2.33rem, calc(1.7rem + 3.15vw), 4.14rem);
    --fs-900: clamp(2.8rem, calc(1.85rem + 4.74vw), 5.52rem);
  }

  html {
    font-family: var(--font-book), sans-serif;
    background-color: hsl(220, 90%, 14%);
    background-blend-mode: overlay;
    background-position: center -24vw;
    background-size: clamp(60rem, 153vw, 500rem);
    background-repeat: no-repeat;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    text-size-adjust: none;
  }
  body {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
  }
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    color: var(--clr-white);
    gap: 8rem;
  }
  h1 {
    font-family: var(--font-bold);
    font-size: 3.4rem;
    line-height: 1.2;
    margin: 0;
  }
  h2 {
    font-size: 1.2rem;
    margin: 0;
  }
  p {
    font-family: var(--font-light);
    font-size: 1rem;
    line-height: 1.8;
    margin: 0;
  }
  a {
    color: var(--clr-white);
    text-decoration: none;
  }
  ul {
    padding: 0 1.2rem;
    margin: 0;
  }
  ul li {
    line-height: 1.6rem;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  .mt-1 {
    margin-top: 1rem;
  }
  .mt-2 {
    margin-top: 2rem;
  }
  .mt-3 {
    margin-top: 3rem;
  }
  .mt-4 {
    margin-top: 4rem;
  }
  .txt-capa {
    font-family: var(--font-light);
    font-size: 1.2rem;
  }
  .txt-capa-claro {
    font-family: var(--font-light);
    font-weight: 600;
    font-size: 1.1rem;
  }
  .img-capa {
    width: -webkit-fill-available;
    height: auto;
  }
  .depoimentos {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    align-items: center;
  }
</style>
